<footer>
    (C)2019 Xeltica all rights reserved.

    <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0"
                src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
    </p>
    <p>
        このブログの記事は、記事内で明示されていない限り全て
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            クリエイティブ・コモンズ 表示 - 継承 4.0 国際 ライセンス
        </a>
        の下に提供されています。
    </p>
</footer>