{{ define "main" }}
<article>
    <ul class="posts">
        {{ range $index, $element := .Paginator.Pages }}
        <li class="item">
            <header class="header">
                <h1 class="title">{{ .Title }}</h1>
                <div class="meta">
                    {{ .PublishDate.Format "2006年 1月 2日" }}
                </div>
            </header>
            <div class="summary">
                {{ .Summary }}
                <a href="{{ .Permalink }}">続きを読む…</a>
            </div>
        </li>
        {{ end }}
    </ul>
</article>
{{ end }}