$fore: #212121;
$fore-light: #757575;
$back: #C8E6C9;
$body-back: #ffffff;
$body-border: #616161;
$accent: #4CAF50;

html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 32px 128px;
    color: $fore;
    background: $back;
    line-height: 200%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    .title a {
    color: $fore;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 48px;
    text-shadow: 1px 1px 0 $fore-light;
    }

    &>.description {
        color: $fore-light;
    }
}

header, footer {
    text-align: center;
}

.posts {
    list-style: none;
    margin: 0;
    padding: 16px 0;
    .item {
        background: $body-back;
        animation: 0.5s ease-out 0s 1 slideInFromLeft;
        padding: 16px;
        margin-bottom: 16px;
        .header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;;
            .title {
                color: #4CAF50;
            }

            .meta {
                color: $fore-light;
                margin-left: auto;
            }
        }
    }
}

.post {
    background: $body-back;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    margin: 0;
    padding: 16px;

    .header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;;
        .title {
            color: #4CAF50;
        }

        .meta {
            color: $fore-light;
            margin-left: auto;
        }
    }

    .reading-time {
        color: $fore-light;
    }

    .content {
        margin-left: 16px;
    }
}

@media screen and (max-width: 700px) {
    body {
        margin: 16px;
    }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(32px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

table {
    margin-bottom: 16px;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    tr {
        th {
            padding: 8px;
            background: #444;
            color: #fff;
        }
        td {
            padding: 8px;
        }

        &:nth-child(even) {
            background: #f0f0f0;
        }
    }
}

blockquote {
    color: #666;
    border-left: 2px solid #4CAF50;
    margin: 0;
    padding-left: 16px;
}